:root {
    --bgColor1: teal;
    --bgColor2: #2D4356;
}
.nav-item:hover {
    background-color: seagreen;
    transition: all 0.2s;
}

.navbar {
    background-color: var(--bgColor2);
}

#topPage {
    width: 100%; 
    height: auto; 
    background-color: var(--bgColor1); 
    padding-top: 6.5rem; 
    padding-bottom: 6rem;
}

#avatar {
    width: 150px;
}

#portofolioPage {
    width: 100%; 
    height: auto; 
    padding-top: 6.5rem; 
    padding-bottom: 6rem;
}

#img-porto {
    max-width: 70%; 
    height: auto; 
    cursor: pointer;
}

#aboutPage{
    width: 100%; 
    height: auto; 
    background-color: var(--bgColor1); 
    padding-top: 6.5rem; 
    padding-bottom: 6rem;
}

#contactPage {
    width: 100%; 
    height: auto; 
    padding-top: 6.5rem; 
    padding-bottom: 6rem;
}

#footerPage {
    width: 100%; 
    height: auto; 
    background-color: var(--bgColor2);
}
  